html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.block {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: fit-content;
    border: 1px solid black;
}

.filled {
    position: relative;
    width: 24px;
    height: 24px;
    background-color: black;
}

/* Create board */
.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
    width: fit-content;
}

.cell {
    border-top: 1px solid black;
    border-left: 1px solid black;
    width: 24px;
    height: 24px;
}

.cell:nth-child(10n) {
    border-right: 1px solid black;
}

.cell:nth-last-child(-n+10) {
    border-bottom: 1px solid black;
}