html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.block, .set-block {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: fit-content;
    /* border: 1px solid black; */
}

.filled {
    position: relative;
    width: 48px;
    height: 48px;
    background-color: black;

    /* TEST USE */
    color: yellow;
    padding-top: 20px;
}

/* Create board */
.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(15, 1fr);
    width: fit-content;

    /* TEST USE */
    position: relative;
    z-index: 99;
    color: orange;
}

.cell {
    border-top: 1px solid black;
    border-left: 1px solid black;
    width: 48px;
    height: 48px;
}

.cell:nth-child(10n) {
    border-right: 1px solid black;
}

.cell:nth-last-child(-n+10) {
    border-bottom: 1px solid black;
}


/* TEST USE */
.block {
    left: 96px;
    /* top: 24px; */
}

.test-direction {
    font-size: 24px;
}

.closed {
    background-color: aqua;
}