html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.hidden {
    /* visibility: hidden; */
    opacity: 0.5;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.ghost {
    background-color: rgba(0, 0, 0, 0.5);
}

.px {
    position: relative;
    width: 48px;
    height: 48px;
    background-color: black;

    /* TEST USE */
    /* color: yellow;
    padding-top: 20px; */
}

/* Create board */
.board {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    /* TEST USE */
    position: relative;
    z-index: 99;
    color: rgb(172, 114, 7);
}

.row {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.cell {
    border-top: 1px solid black;
    border-left: 1px solid black;
    width: 48px;
    height: 48px;
}

.cell:nth-child(10n) {
    border-right: 1px solid black;
}

.row:last-child .cell {
    border-bottom: 1px solid black;
}

/* TEST USE */
.test-direction {
    font-size: 24px;
}

/* .cleared {
    background-color: brown;
} */

.closed {
    background-color: aqua;
}